SECRET_KEY=CLAVE_DJANGO
DB_PASSWORD=TU_PASSWORD_DB

# Variables de Email
EMAIL_USER=TU_EMAIL_DE_ENVIO
EMAIL_PASSWORD=TU_TOKEN_DE_APLICACION_PARA_EMAIL

# MP
MERCADO_PAGO_ACCESS_TOKEN=TU_TOKEN_DE_MERCADO_PAGO