{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Dashboard</h1>

<p>Bienvenido, {{ request.user.username }}</p>

<!-- Links según el rol -->
{% if request.user.groups.all.0.name == "Client" %}
    <p><a href="{% url 'vista_cliente' %}">Ir a la vista de Cliente</a></p>
{% elif request.user.groups.all.0.name == "Cook" %}
    <p><a href="{% url 'vista_cocinero' %}">Ir a la vista de Cocinero</a></p>
{% elif request.user.groups.all.0.name == "AppAdmin" %}
    <p><a href="{% url 'vista_admin' %}">Ir a la vista de Admin</a></p>
{% endif %}

<!-- Link para cambiar contraseña -->
<p>
    <a href="{% url 'password_change' %}">Cambiar contraseña</a>
</p>

<!-- Botón de cerrar sesión -->
<p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
    </form>
</p>
{% endblock %}
